@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
    @apply leading-[normal] m-0;
    background-color: #fee6ac;
    /* Đặt màu nền thành #fee6ac */
}

*,
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::before,
::after {
    border-width: 0;
}

.github-icon {
    position: fixed;
    bottom: 10px;
    /* Cách nút "Thắp Hương" 20px bằng cách sử dụng margin */
    margin-top: 20px;
}