@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
    @apply leading-[normal] m-0;
    background-color: #fee6ac;
    margin-top: -50px;
    transform: scale(0.9);
    transform-origin: center top;
    overflow: hidden;
}

*,
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::before,
::after {
    border-width: 0;
}

.github-icon {
    bottom: 0px;
    margin-top: 20px;
}

@keyframes fadeInZoomIn {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.incense-stick {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    width: 100px;
    /* Adjust based on your image size */
    height: auto;
    /* Maintain aspect ratio */
    z-index: 20;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    /* Transition for fade out */
}

.visible {
    animation: fadeInZoomIn 1s ease-in-out forwards;
    /* Animation for fade in and zoom in */
}

.hidden {
    animation: fadeOutZoomOut 1s ease-in-out forwards;
}

@keyframes fadeOutZoomOut {
    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
}