@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    @apply leading-[normal] m-0;
    background-color: #fee6ac;
    /* Đặt màu nền thành #fee6ac */
}

*,
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::before,
::after {
    border-width: 0;
}